<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div
                    ba-panel
                    ba-panel-title=""
                    ba-panel-class="with-scroll">
                <form name="addGroupForm" ng-controller="AddGroupCtrl">
                    <div class="form-group">
                        <label for="name_group">Nom du groupe</label>
                        <input type="text" class="form-control" ng-model="groupName" id="name_group" name="name_group"
                               placeholder="Nom du groupe" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label for="add_users">Veuillez sélectionner les différentes utilisateurs à ajouter dans le
                            Groupe
                            * : </label>
                        <select id="add_users" class="form-control" title="Sélection multiple" multiple selectpicker
                                ng-model="multipleSelectedItems"
                                ng-options="item as item.userMail for item in standardSelectItems track by item.userMail">
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input class="btn btn-danger" type="submit" ng-click="modif()" value="Modifier"/>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
