<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Envoyer des Newsletter" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="form-group select-page-size-wrap ">
                        <label>Envoie de newsletter
                            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                    ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                            </select>
                        </label>
                    </div>
                    <table class="table" st-table="smartTableData">
                        <thead>
                        <tr class="sortable ">
                            <th st-sort="newsletterTitle">Titre</th>
                            <th st-sort="newsletterDescription">Description</th>
                            <th st-sort="newsletterPJ">User</th>
                            <th st-sort="email">Action</th>
                        </tr>
                        <tr>
                            <th><input st-search="newsletterTitle" placeholder="Rechercher par Titre" class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="newsletterDescription" placeholder="Rechercher par Description" class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="newsletterPJ" placeholder="Rechercher par User" class="input-sm form-control search-input" type="search"/>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in smartTableData">
                            <td>{{item.newsletter.newsletterTitle}}</td>
                            <td>{{item.newsletter.newsletterDescription}}</td>
                            <td>{{item.subscriptionPK.userMail}}</a></td>
                            <td>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="sendMail(item)">Envoyer</button>

                                </div></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
