<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="form-group select-page-size-wrap ">
                        <label>Nombre par page
                            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                    ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                            </select>
                        </label>
                    </div>
                    <table class="table" st-table="smartTableData">
                        <thead>
                        <tr class="sortable ">
                            <th st-sort="groupId" st-sort-default="true">Id</th>
                            <th st-sort="groupName">Name</th>
                            <th st-sort="action"></th>
                        </tr>
                        <tr>
                            <th><input st-search="groupId" placeholder="Recherche Id" class="input-sm form-control search-input" type="search"/></th>
                            <th><input st-search="groupName" placeholder="Recherche Name" class="input-sm form-control search-input" type="search"/></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in smartTableData">
                            <td>{{item.groupId}}</td>
                            <td>{{item.groupName}}</td>
                            <td>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="editGroup(item)">Edit</button>
                                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteGroup(item.groupId)">Delete</button>
                                </div></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
