<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div
                    ba-panel
                    ba-panel-title="Créer un groupe"
                    ba-panel-class="with-scroll">
                <form ng-controller="InscriptionNewsletterCtrl">
                  <div class="form-group">
                      <label for="add_users">Veuillez sélectionner la/les newsletter(s) à ajouter * : </label>
                      <select id="add_users" class="form-control" title="Sélection multiple" multiple selectpicker
                              ng-model="multipleSelectedItemsNewsletter"
                              ng-options="item as item.newsletterTitle for item in standardSelectItemsNewsletter track by item.newsletterTitle">
                      </select>
                  </div>
                    <div class="form-group">
                        <label for="add_users">Veuillez sélectionner les différentes utilisateurs à ajouter dans le
                            Groupe
                            * : </label>
                        <select id="add_users" class="form-control" title="Sélection multiple" multiple selectpicker
                                ng-model="multipleSelectedItems"
                                ng-options="item as item.userMail for item in standardSelectItems track by item.userMail">
                        </select>
                    </div>
                    <div>{{message}}</div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input class="btn btn-danger" type="submit" ng-click="inscrire()" value="Ajouter"/>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
