<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="form-group select-page-size-wrap ">
                        <label>Nombre par page
                            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                    ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                            </select>
                        </label>
                    </div>
                    <table class="table" st-table="smartTableData">
                        <thead>
                            <tr class="sortable ">
                                <th class="table-id" st-sort="id" st-sort-default="true">Id</th>
                                <th st-sort="name">Name</th>
                                <th st-sort="mail">Mail</th>
                                <th st-sort="age">Age</th>
                                <th st-sort="action"></th>
                            </tr>
                            <tr>
                                <th><input st-search="id" placeholder="Recherche Id" class="input-sm form-control search-input" type="search"/></th>
                                <th><input st-search="name" placeholder="Recherche Name" class="input-sm form-control search-input" type="search"/></th>
                                <th><input st-search="mail" placeholder="Recherche Mail" class="input-sm form-control search-input" type="search"/></th>
                                <th><input st-search="age" placeholder="Recherche Age" class="input-sm form-control search-input" type="search"/>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in smartTableData">
                            <td class="table-id">{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
                            <td>{{item.age}}</td>
                            <td>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="editCampagne()">Edit</button>
                                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteCampagne()">Delete</button>
                                </div></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
