<div class="widgets">
    <div class="row">
        <div class="col-md-12">
          <div ba-panel ba-panel-title="Edit Mail" ba-panel-class="with-scroll">
              <form ng-controller="EditMailCtrl">
                  <div class="form-group">
                      <label for="userMail">Email</label>
                      <input type="email" class="form-control" id="userMail" ng-model="userMail" ng-required="true">
                  </div>
                  <div class="form-group">
                      <label for="userName">Nom Prénom</label>
                      <input type="text" class="form-control" id="userName" ng-model="userName" ng-required="true">
                  </div>
                  <div class="form-group">
                      <label for="userAge">Age</label>
                      <input type="number" class="form-control" id="userAge" ng-model="userAge" ng-required="true">
                  </div>
                  <span class="input-group-btn">
                      <input class="btn btn-danger" type="submit" ng-click="edit()" value="Modifier" />
                </span>
              </form>
          </div>
        </div>
    </div>

</div>
