<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Liste des Users" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="form-group select-page-size-wrap ">
                        <label>Rows on page
                            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                    ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                            </select>
                        </label>
                    </div>
                    <table class="table" st-table="smartTableData">
                        <thead>
                        <tr class="sortable ">
                            <th st-sort="userMail">Mail</th>
                            <th st-sort="userName">Nom</th>
                            <th st-sort="userAge">Age</th>
                            <th st-sort="action">Action</th>
                        </tr>
                        <tr>
                            <th><input st-search="userMail" placeholder="Rechercer par mail" class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="userName" placeholder="Rechercer par nom" class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="userAge" placeholder="Rechercer par age" class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in smartTableData">
                            <td class="table-id">{{item.userMail}}</td>
                            <td>{{item.userName}}</td>
                            <td>{{item.userAge}}</td>
                            <td>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="edit(item.userMail)">Edit</button>
                                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="delete(item.userMail)">Delete</button>
                                </div></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
