<div class="widgets">
    <div class="row">
        <div class="col-md-12">

            <div ba-panel ba-panel-title="Ajout de User Mail Via Fichier Excel" ba-panel-class="with-scroll">










                <form ng-controller="AddMailCtrl">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script>
                        var oFileIn;

                        $(function() {
                            oFileIn = document.getElementById('my_file_input');
                            if(oFileIn.addEventListener) {
                                oFileIn.addEventListener('change', filePicked, false);
                            }
                        });


                        function filePicked(oEvent) {
                            // Get The File From The Input
                            var oFile = oEvent.target.files[0];
                            var sFilename = oFile.name;
                            // Create A File Reader HTML5
                            var reader = new FileReader();
                            // Ready The Event For When A File Gets Selected
                            reader.onload = function(e) {
                                var data = e.target.result;
                                var cfb = XLS.CFB.read(data, {type: 'binary'});
                                var wb = XLS.parse_xlscfb(cfb);

                                // Loop Over Each Sheet
                                wb.SheetNames.forEach(function(sheetName) {
                                    // Obtain The Current Row As CSV
                                    var sCSV = XLS.utils.make_csv(wb.Sheets[sheetName]);
                                    var data = XLS.utils.sheet_to_json(wb.Sheets[sheetName], {header:1});
                                    $.each(data, function( indexR, valueR ) {
                                        var sRow = "<tr>";
                                        $.each(data[indexR], function( indexC, valueC ) {
                                            sRow = sRow + "<td>" + valueC + "</td>";
                                        });
                                        sRow = sRow + "</tr>";
                                        $("#my_file_output").append(sRow);
                                    });
                                });
                            };

                            // Tell JS To Start Reading The File.. You could delay this if desired
                            reader.readAsBinaryString(oFile);
                        }

                    </script>
                    <input type="file" id="my_file_input" />
                    <table id='my_file_output'></table>
                    <div class="form-group">

                    </div>
                    <span class="input-group-btn">
                        <input class="btn btn-danger" type="submit" ng-click="import()" value="Ajouter" />
                  </span>
                </form>
            </div>
            <div ba-panel ba-panel-title="Ajout de User Mail à la main" ba-panel-class="with-scroll">
                <form ng-controller="AddMailCtrl">
                    <div class="form-group">
                        <label for="nom_mail">Nom</label>
                        <input type="text" class="form-control" id="nom_mail" name="nom_mail" placeholder="" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label for="mail_mail">Email</label>
                        <input type="email" class="form-control" id="mail_mail" name="mail_mail" placeholder="" ng-required="true">
                    </div>
                    <span class="input-group-btn">
                        <input class="btn btn-danger" type="submit" ng-click="add_mail()" value="Ajouter" />
                  </span>
                </form>
            </div>
        </div>
    </div>

</div>
