<div class="widgets">
    <div class="row">
        <div class="col-md-12">

            <div ba-panel ba-panel-title="Ajout de User Mail Via Fichier Excel" ba-panel-class="with-scroll">
                <form ng-controller="AddMailCtrl">
                    <div class="form-group">
                        <label for="import_mail">Pièce Jointe</label>
                        <input type="file" class="form-control" id="import_mail" name="import_mail" placeholder="" ng-required="true">
                    </div>
                    <span class="input-group-btn">
                        <input class="btn btn-danger" type="submit" ng-click="import()" value="Ajouter" />
                  </span>
                </form>
            </div>
            <div ba-panel ba-panel-title="Ajout de User Mail à la main" ba-panel-class="with-scroll">
                <form ng-controller="AddMailCtrl">
                    <div class="form-group">
                        <label for="nom_mail">Nom</label>
                        <input type="text" class="form-control" id="nom_mail" name="nom_mail" placeholder="" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label for="mail_mail">Email</label>
                        <input type="email" class="form-control" id="mail_mail" name="mail_mail" placeholder="" ng-required="true">
                    </div>
                    <span class="input-group-btn">
                        <input class="btn btn-danger" type="submit" ng-click="add_mail()" value="Ajouter" />
                  </span>
                </form>
            </div>
        </div>
    </div>

</div>
